asgiref
dj-database-url
Django
django-filter
djangorestframework
drf-nested-routers
drf-yasg
gunicorn
inflection
packaging
psycopg2-binary
python-decouple
pytz
PyYAML
sqlparse
typing_extensions
uritemplate
